<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>PenInspector</Name>
    <Version>1.0.0</Version>
    <Title>PenInspector Installer</Title>
    <Publisher>Ioan Calin Borcoman</Publisher>
    <StartMenuDir>PenInspector</StartMenuDir>
    <TargetDir>@HomeDir@/PenInspector</TargetDir>
    <WizardStyle>Aero</WizardStyle>
    <WizardShowPageList>false</WizardShowPageList>
    <WizardDefaultWidth>700</WizardDefaultWidth>
    <WizardDefaultHeight>500</WizardDefaultHeight>
</Installer>
